<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {titulo: "Resultados de tu búsqueda"}) %> 
<body>
    <%- include("../partials/header") %> 
    <main>
        <div class="listadoProductos">
           <% for(producto of productos){ %> 
                <%- include("../products/article") %> 
            <%}%> 
        </div>
        <div class="contenedorPaginado">
            <div class="contenedorEnlaces">
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">6</a>
                <a href="">7</a>
            </div>
        </div>
    </main>
    <%- include("../partials/footer") %> 
</body>
</html>
